
@{
	ViewBag.Title = "MainPage";
}
       
<head>
	<meta name="viewport" content="width=device-width" user-scalable="no" />
	<p>Здравствуйте! Вас приветствует наш сервис по аналитике цен на такси в разное время дня.
		Для аналитики Вы можете ввести маршрут, по которому бы Вам было интересно узнать аналитику.
		Мы проведем аналитику в течение дня. И ровно через сутки пришлём её Вам на почту. Спасибо за доверие!</p>
</head>
<body>
<div>
	<p>Значение= @ViewBag.Name</p>
	<form method="post" action="Authorization/Authorization/">
		<input type="submit" value="Регистрация" name="Registration"/>
		<input type="submit" value="Вход" name="Entrance"/>
	</form>
</div>
</body>